* {
    font-family: fantasy;
}
body {
    display: flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
}

#userGreeting {
    display: none;
}
#userQuestion {
    display: none;
}

#questionScreen {
    display: none;
}